.profileContactContainer {
  margin-top: -75px;
}

.profileAvatar {
  border: 3px solid white;
}

.profile {
  display: flex;
  flex-direction: column;
  height: 10vh;
}

.profile__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

.profile__header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}

.profile__header a:hover {
  text-decoration: underline;
}

.profile__headerRight {
  display: flex;
  align-items: center;
  min-height: 13vw;
  justify-content: space-between;
}

.profile__headerRight {
  display: flex;
  align-items: center;
  min-height: 13vw;
  justify-content: space-between;
}

.profile__headerRight {
  display: flex;
  align-items: center;
  min-height: 13vw;
  justify-content: space-between;
}

.profile__headerRight > .MuiSvgIcon-root{
  margin-right: 20px;
}

.profile__body {
  flex: 1;
  display: flex;
  /* margin-top: 10%; */
  flex-direction: row;
}

.profile__body > img {
  object-fit: contain;
  height: 300px;
}

.signup__button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.signup__button button {
  margin: 5px; 
  padding: 7px 15px;
  background-color: #FFD700; 
  border: 1px solid #FFD700;
  text-transform: inherit;
  color: #5f6368;
  
}

.profileButtons button {
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  margin: 5px; 
  padding: 7px 15px;
  background-color: #f8f8f8; 
  border: 1px solid white;
  text-transform: inherit;
  color: #5f6368;
  text-align: center;
  justify-content: center;
}

.profileButtons button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

button.initials {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid;
  border-color: darkred;
  font-size: 35px;
  color: rgb(12, 2, 2);
  text-align: center;
  line-height: 150px;
  margin: 20px 0;
}